In [2]:
import pandas as pd

# Define the data
names = ["John", "Jack", "Roman", "Tony"]
ages = [25, 30, 22, 28]
professions= ["Developer", "Designer", "Engineer", "Teacher"]

# Create the DataFrame
df = pd.DataFrame({'Names': names, 'Ages': ages, 'Professions': professions})

# Display the DataFrame
print(df)

   Names  Ages Professions
0   John    25   Developer
1   Jack    30    Designer
2  Roman    22    Engineer
3   Tony    28     Teacher

In [3]:
# Add the 'Location' column
locations = ["New York", "London", "Paris", "Tokyo"]
df = df.assign(Location=locations)
print(df)

   Names  Ages Professions  Location
0   John    25   Developer  New York
1   Jack    30    Designer    London
2  Roman    22    Engineer     Paris
3   Tony    28     Teacher     Tokyo

In [10]:
#print those older than 25
filtered_df = df[df['Ages'] > 25]
print(filtered_df)

  Names  Ages Professions Location
1  Jack    30    Designer   London
3  Tony    28     Teacher    Tokyo

In [13]:
#Calculate the mean, maximum, and minimum values for the ages column.
print(df.Ages.mean())
print(df['Ages'].max())
print(df.Ages.min())

26.25
30
22

In [14]:
import os

if not os.path.exists('tables'):
    os.makedirs('tables')
    
# table1.csv
data1 = {
    'Name': ['John', 'Emily', 'Michael', 'Sarah'],
    'Age': [35, 28, 42, 31],
    'City': ['New York', 'Los Angeles', 'Chicago', 'San Francisco'],
    'Occupation': ['Engineer', 'Designer', 'Manager', 'Analyst']
}
df1 = pd.DataFrame(data1)
df1.to_csv('tables/table1.csv', index=False)

# table2.csv
data2 = {
    'Product': ['Laptop', 'T-Shirt', 'Bicycle', 'Smartphone'],
    'Price': [999.99, 29.99, 499.99, 799.99],
    'Category': ['Electronics', 'Apparel', 'Sports', 'Electronics'],
    'Quantity': [12, 45, 8, 20]
}
df2 = pd.DataFrame(data2)
df2.to_csv('tables/table2.csv', index=False)

# table3.csv
data3 = {
    'Student': ['Emma', 'Jacob', 'Olivia', 'Ethan'],
    'Grade': [85, 92, 78, 88],
    'Subject': ['Math', 'English', 'Science', 'History'],
    'School': ['Central High', 'Riverside Academy', 'North Middle School', 'South Elementary']
}
df3 = pd.DataFrame(data3)
df3.to_csv('tables/table3.csv', index=False)

# table4.csv
data4 = {
    'Employee': ['Sarah', 'David', 'Sophia', 'Daniel'],
    'Department': ['Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [65000, 85000, 55000, 70000],
    'Years of Service': [7, 12, 3, 9]
}
df4 = pd.DataFrame(data4)
df4.to_csv('tables/table4.csv', index=False)

In [15]:
#In folder, there are 4-5 CSV files. Load these files into SQLite db.
import sqlite3
connection = sqlite3.connect('HW18.db')
df1 = pd.read_csv('tables/table1.csv')
df2 = pd.read_csv('tables/table2.csv')
df3 = pd.read_csv('tables/table3.csv')
df4 = pd.read_csv('tables/table4.csv')

#load df's to db
df1.to_sql('tbl1', connection)
df2.to_sql('tbl2', connection)
df3.to_sql('tbl3', connection)
df4.to_sql('tbl4', connection)

4