In [8]:
import pandas as pd

In [12]:
movie = pd.read_clipboard()

In [13]:
movie_data = pd.read_csv('movie.csv')

In [14]:
movie_data

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [7]:
type(movie_data)

pandas.core.frame.DataFrame

In [15]:
import sqlite3

In [16]:
connection = sqlite3.connect('data.db')

In [17]:
movie_data.to_sql('movies', connection)

ValueError: Table 'movies' already exists.

In [18]:
dir(movie_data)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__dataframe__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_create_data_for_split_and_tight_to_dict',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_getitem_nocopy',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reduce_axis1',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_to_latex_via_styler',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'actor_1_facebook_likes',
 'actor_1_name',
 'actor_2_facebook_likes',
 'actor_2_name',
 'actor_3_facebook_likes',
 'actor_3_name',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'aspect_ratio',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'budget',
 'cast_total_facebook_likes',
 'clip',
 'color',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'content_rating',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'country',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'director_facebook_likes',
 'director_name',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'duration',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'facenumber_in_poster',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'genres',
 'get',
 'gross',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'imdb_score',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isetitem',
 'isin',
 'isna',
 'isnull',
 'items',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'language',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'movie_facebook_likes',
 'movie_imdb_link',
 'movie_title',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'num_critic_for_reviews',
 'num_user_for_reviews',
 'num_voted_users',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'plot_keywords',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'title_year',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_orc',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

In [12]:
movie_data.imdb_score

0       7.9
1       7.1
2       6.8
3       8.5
4       7.1
       ...
4911    7.7
4912    7.5
4913    6.3
4914    6.3
4915    6.6
Name: imdb_score, Length: 4916, dtype: float64

In [13]:
movie_data.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [14]:
movie_data.head(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0
5,Color,Andrew Stanton,462.0,132.0,475.0,530.0,Samantha Morton,640.0,73058679.0,Action|Adventure|Sci-Fi,...,738.0,English,USA,PG-13,263700000.0,2012.0,632.0,6.6,2.35,24000
6,Color,Sam Raimi,392.0,156.0,0.0,4000.0,James Franco,24000.0,336530303.0,Action|Adventure|Romance,...,1902.0,English,USA,PG-13,258000000.0,2007.0,11000.0,6.2,2.35,0
7,Color,Nathan Greno,324.0,100.0,15.0,284.0,Donna Murphy,799.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,...,387.0,English,USA,PG,260000000.0,2010.0,553.0,7.8,1.85,29000
8,Color,Joss Whedon,635.0,141.0,0.0,19000.0,Robert Downey Jr.,26000.0,458991599.0,Action|Adventure|Sci-Fi,...,1117.0,English,USA,PG-13,250000000.0,2015.0,21000.0,7.5,2.35,118000
9,Color,David Yates,375.0,153.0,282.0,10000.0,Daniel Radcliffe,25000.0,301956980.0,Adventure|Family|Fantasy|Mystery,...,973.0,English,UK,PG,250000000.0,2009.0,11000.0,7.5,2.35,10000

In [15]:
movie_data.tail(10)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
4906,Color,Shane Carruth,143.0,77.0,291.0,8.0,David Sullivan,291.0,424760.0,Drama|Sci-Fi|Thriller,...,371.0,English,USA,PG-13,7000.0,2004.0,45.0,7.0,1.85,19000
4907,Color,Neill Dela Llana,35.0,80.0,0.0,0.0,Edgar Tancangco,0.0,70071.0,Thriller,...,35.0,English,Philippines,Not Rated,7000.0,2005.0,0.0,6.3,NaN,74
4908,Color,Robert Rodriguez,56.0,81.0,0.0,6.0,Peter Marquardt,121.0,2040920.0,Action|Crime|Drama|Romance|Thriller,...,130.0,Spanish,USA,R,7000.0,1992.0,20.0,6.9,1.37,0
4909,Color,Anthony Vallone,NaN,84.0,2.0,2.0,John Considine,45.0,NaN,Crime|Drama,...,1.0,English,USA,PG-13,3250.0,2005.0,44.0,7.8,NaN,4
4910,Color,Edward Burns,14.0,95.0,0.0,133.0,Caitlin FitzGerald,296.0,4584.0,Comedy|Drama,...,14.0,English,USA,Not Rated,9000.0,2011.0,205.0,6.4,NaN,413
4911,Color,Scott Smith,1.0,87.0,2.0,318.0,Daphne Zuniga,637.0,NaN,Comedy|Drama,...,6.0,English,Canada,NaN,NaN,2013.0,470.0,7.7,NaN,84
4912,Color,NaN,43.0,43.0,NaN,319.0,Valorie Curry,841.0,NaN,Crime|Drama|Mystery|Thriller,...,359.0,English,USA,TV-14,NaN,NaN,593.0,7.5,16.00,32000
4913,Color,Benjamin Roberds,13.0,76.0,0.0,0.0,Maxwell Moody,0.0,NaN,Drama|Horror|Thriller,...,3.0,English,USA,NaN,1400.0,2013.0,0.0,6.3,NaN,16
4914,Color,Daniel Hsia,14.0,100.0,0.0,489.0,Daniel Henney,946.0,10443.0,Comedy|Drama|Romance,...,9.0,English,USA,PG-13,NaN,2012.0,719.0,6.3,2.35,660
4915,Color,Jon Gunn,43.0,90.0,16.0,16.0,Brian Herzlinger,86.0,85222.0,Documentary,...,84.0,English,USA,PG,1100.0,2004.0,23.0,6.6,1.85,456

In [18]:
movie_data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [21]:
movie_data.index

RangeIndex(start=0, stop=4916, step=1)

In [23]:
movie_data.values.any(0)

array(['Color', 'James Cameron', 723.0, 178.0, 563.0, 855.0,
       'Joel David Moore', 1000.0, 760505847.0,
       'Action|Adventure|Fantasy|Sci-Fi', 'CCH Pounder', 'Avatar', 886204,
       4834, 'Wes Studi', 1.0, 'avatar|future|marine|native|paraplegic',
       'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1', 3054.0,
       'English', 'USA', 'PG-13', 237000000.0, 2009.0, 936.0, 7.9, 1.78,
       33000], dtype=object)

In [25]:
movie_data.values[0:10]

array([['Color', 'James Cameron', 723.0, 178.0, 0.0, 855.0,
        'Joel David Moore', 1000.0, 760505847.0,
        'Action|Adventure|Fantasy|Sci-Fi', 'CCH Pounder', 'Avatar',
        886204, 4834, 'Wes Studi', 0.0,
        'avatar|future|marine|native|paraplegic',
        'http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1', 3054.0,
        'English', 'USA', 'PG-13', 237000000.0, 2009.0, 936.0, 7.9, 1.78,
        33000],
       ['Color', 'Gore Verbinski', 302.0, 169.0, 563.0, 1000.0,
        'Orlando Bloom', 40000.0, 309404152.0,
        'Action|Adventure|Fantasy', 'Johnny Depp',
        "Pirates of the Caribbean: At World's End", 471220, 48350,
        'Jack Davenport', 0.0,
        'goddess|marriage ceremony|marriage proposal|pirate|singapore',
        'http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1', 1238.0,
        'English', 'USA', 'PG-13', 300000000.0, 2007.0, 5000.0, 7.1,
        2.35, 0],
       ['Color', 'Sam Mendes', 602.0, 148.0, 0.0, 161.0, 'Rory Kinnear',
        11000.0, 200074175.0, 'Action|Adventure|Thriller',
        'Christoph Waltz', 'Spectre', 275868, 11700, 'Stephanie Sigman',
        1.0, 'bomb|espionage|sequel|spy|terrorist',
        'http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1', 994.0,
        'English', 'UK', 'PG-13', 245000000.0, 2015.0, 393.0, 6.8, 2.35,
        85000],
       ['Color', 'Christopher Nolan', 813.0, 164.0, 22000.0, 23000.0,
        'Christian Bale', 27000.0, 448130642.0, 'Action|Thriller',
        'Tom Hardy', 'The Dark Knight Rises', 1144337, 106759,
        'Joseph Gordon-Levitt', 0.0,
        'deception|imprisonment|lawlessness|police officer|terrorist plot',
        'http://www.imdb.com/title/tt1345836/?ref_=fn_tt_tt_1', 2701.0,
        'English', 'USA', 'PG-13', 250000000.0, 2012.0, 23000.0, 8.5,
        2.35, 164000],
       [nan, 'Doug Walker', nan, nan, 131.0, nan, 'Rob Walker', 131.0,
        nan, 'Documentary', 'Doug Walker',
        'Star Wars: Episode VII - The Force Awakens', 8, 143, nan, 0.0,
        nan, 'http://www.imdb.com/title/tt5289954/?ref_=fn_tt_tt_1', nan,
        nan, nan, nan, nan, nan, 12.0, 7.1, nan, 0],
       ['Color', 'Andrew Stanton', 462.0, 132.0, 475.0, 530.0,
        'Samantha Morton', 640.0, 73058679.0, 'Action|Adventure|Sci-Fi',
        'Daryl Sabara', 'John Carter', 212204, 1873, 'Polly Walker', 1.0,
        'alien|american civil war|male nipple|mars|princess',
        'http://www.imdb.com/title/tt0401729/?ref_=fn_tt_tt_1', 738.0,
        'English', 'USA', 'PG-13', 263700000.0, 2012.0, 632.0, 6.6, 2.35,
        24000],
       ['Color', 'Sam Raimi', 392.0, 156.0, 0.0, 4000.0, 'James Franco',
        24000.0, 336530303.0, 'Action|Adventure|Romance', 'J.K. Simmons',
        'Spider-Man 3', 383056, 46055, 'Kirsten Dunst', 0.0,
        'sandman|spider man|symbiote|venom|villain',
        'http://www.imdb.com/title/tt0413300/?ref_=fn_tt_tt_1', 1902.0,
        'English', 'USA', 'PG-13', 258000000.0, 2007.0, 11000.0, 6.2,
        2.35, 0],
       ['Color', 'Nathan Greno', 324.0, 100.0, 15.0, 284.0,
        'Donna Murphy', 799.0, 200807262.0,
        'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance',
        'Brad Garrett', 'Tangled', 294810, 2036, 'M.C. Gainey', 1.0,
        '17th century|based on fairy tale|disney|flower|tower',
        'http://www.imdb.com/title/tt0398286/?ref_=fn_tt_tt_1', 387.0,
        'English', 'USA', 'PG', 260000000.0, 2010.0, 553.0, 7.8, 1.85,
        29000],
       ['Color', 'Joss Whedon', 635.0, 141.0, 0.0, 19000.0,
        'Robert Downey Jr.', 26000.0, 458991599.0,
        'Action|Adventure|Sci-Fi', 'Chris Hemsworth',
        'Avengers: Age of Ultron', 462669, 92000, 'Scarlett Johansson',
        4.0,
        'artificial intelligence|based on comic book|captain america|marvel cinematic universe|superhero',
        'http://www.imdb.com/title/tt2395427/?ref_=fn_tt_tt_1', 1117.0,
        'English', 'USA', 'PG-13', 250000000.0, 2015.0, 21000.0, 7.5,
        2.35, 118000],
       ['Color', 'David Yates', 375.0, 153.0, 282.0, 10000.0,
        'Daniel Radcliffe', 25000.0, 301956980.0,
        'Adventure|Family|Fantasy|Mystery', 'Alan Rickman',
        'Harry Potter and the Half-Blood Prince', 321795, 58753,
        'Rupert Grint', 3.0, 'blood|book|love|potion|professor',
        'http://www.imdb.com/title/tt0417741/?ref_=fn_tt_tt_1', 973.0,
        'English', 'UK', 'PG', 250000000.0, 2009.0, 11000.0, 7.5, 2.35,
        10000]], dtype=object)

In [27]:
#to see data types by columns
movie_data.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [30]:
movie_data.director_name.value_counts()

director_name
Steven Spielberg    26
Woody Allen         22
Martin Scorsese     20
Clint Eastwood      20
Ridley Scott        16
                    ..
John Putch           1
Luca Guadagnino      1
Sam Fell             1
Dan Fogelman         1
Daniel Hsia          1
Name: count, Length: 2397, dtype: int64

In [32]:
movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4916 entries, 0 to 4915
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      4897 non-null   object
 1   director_name              4814 non-null   object
 2   num_critic_for_reviews     4867 non-null   float64
 3   duration                   4901 non-null   float64
 4   director_facebook_likes    4814 non-null   float64
 5   actor_3_facebook_likes     4893 non-null   float64
 6   actor_2_name               4903 non-null   object
 7   actor_1_facebook_likes     4909 non-null   float64
 8   gross                      4054 non-null   float64
 9   genres                     4916 non-null   object
 10  actor_1_name               4909 non-null   object
 11  movie_title                4916 non-null   object
 12  num_voted_users            4916 non-null   int64
 13  cast_total_facebook_likes  4916 non-null   int64
 14  actor_3_name               4893 non-null   object
 15  facenumber_in_poster       4903 non-null   float64
 16  plot_keywords              4764 non-null   object
 17  movie_imdb_link            4916 non-null   object
 18  num_user_for_reviews       4895 non-null   float64
 19  language                   4902 non-null   object
 20  country                    4911 non-null   object
 21  content_rating             4616 non-null   object
 22  budget                     4432 non-null   float64
 23  title_year                 4810 non-null   float64
 24  actor_2_facebook_likes     4903 non-null   float64
 25  imdb_score                 4916 non-null   float64
 26  aspect_ratio               4590 non-null   float64
 27  movie_facebook_likes       4916 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [1]:
#read data from api
import requests
import json

In [19]:
response_data = requests.get('https://freetestapi.com/api/v1/cars')

In [22]:
response_data.content

b'[{"id":1,"make":"Toyota","model":"Corolla","year":2022,"color":"Silver","mileage":20000,"price":25000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":169,"features":["Bluetooth","Backup Camera","Keyless Entry"],"owners":1,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":2,"make":"Honda","model":"Civic","year":2021,"color":"White","mileage":18000,"price":22000,"fuelType":"Gasoline","transmission":"CVT","engine":"1.5L 4-cylinder","horsepower":158,"features":["Apple CarPlay","Android Auto","Lane Departure Warning"],"owners":2,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":3,"make":"Ford","model":"Mustang","year":2020,"color":"Red","mileage":15000,"price":35000,"fuelType":"Gasoline","transmission":"Manual","engine":"5.0L V8","horsepower":450,"features":["Leather Seats","Navigation System","Heated Seats"],"owners":1,"image":"https://fakeimg.pl/500x500/ff0000"},{"id":4,"make":"Chevrolet","model":"Equinox","year":2019,"color":"Blue","mileage":30000,"price":20000,"fuelType":"Gasoline","transmission":"Automatic","engine":"1.5L 4-cylinder","horsepower":170,"features":["Rearview Camera","Blind-Spot Monitoring","Wi-Fi Hotspot"],"owners":2,"image":"https://fakeimg.pl/500x500/0000ff"},{"id":5,"make":"Nissan","model":"Altima","year":2020,"color":"Black","mileage":22000,"price":21000,"fuelType":"Gasoline","transmission":"CVT","engine":"2.5L 4-cylinder","horsepower":188,"features":["Remote Start","Automatic Emergency Braking","Lane Keeping Assist"],"owners":1,"image":"https://fakeimg.pl/500x500/000000"},{"id":6,"make":"BMW","model":"3 Series","year":2021,"color":"White","mileage":12000,"price":40000,"fuelType":"Diesel","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":255,"features":["Sunroof","Adaptive Cruise Control","Parking Assistance"],"owners":1,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":7,"make":"Tesla","model":"Model 3","year":2022,"color":"Red","mileage":8000,"price":45000,"fuelType":"Electric","transmission":"Automatic","engine":"Electric Motor","horsepower":322,"features":["Autopilot","Full Self-Driving Capability","Premium Audio System"],"owners":1,"image":"https://fakeimg.pl/500x500/ff0000"},{"id":8,"make":"Audi","model":"Q5","year":2021,"color":"Gray","mileage":15000,"price":38000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":248,"features":["Virtual Cockpit","Panoramic Sunroof","Apple CarPlay"],"owners":1,"image":"https://fakeimg.pl/500x500/808080"},{"id":9,"make":"Mercedes-Benz","model":"E-Class","year":2020,"color":"Silver","mileage":18000,"price":42000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":255,"features":["MBUX Infotainment","Heated Steering Wheel","Air Suspension"],"owners":2,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":10,"make":"Chevrolet","model":"Tahoe","year":2020,"color":"Black","mileage":25000,"price":45000,"fuelType":"Gasoline","transmission":"Automatic","engine":"5.3L V8","horsepower":355,"features":["Leather Seats","Third-Row Seating","Power Liftgate"],"owners":2,"image":"https://fakeimg.pl/500x500/000000"},{"id":11,"make":"Subaru","model":"Outback","year":2021,"color":"Green","mileage":12000,"price":32000,"fuelType":"Gasoline","transmission":"CVT","engine":"2.5L 4-cylinder","horsepower":182,"features":["All-Wheel Drive","Roof Rails","Adaptive Cruise Control"],"owners":1,"image":"https://fakeimg.pl/500x500/008000"},{"id":12,"make":"Lexus","model":"RX 350","year":2022,"color":"White","mileage":8000,"price":48000,"fuelType":"Gasoline","transmission":"Automatic","engine":"3.5L V6","horsepower":295,"features":["Premium Leather Seats","Panoramic Sunroof","Mark Levinson Audio"],"owners":1,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":13,"make":"Ford","model":"F-150","year":2020,"color":"Blue","mileage":18000,"price":38000,"fuelType":"Gasoline","transmission":"Automatic","engine":"3.5L V6","horsepower":375,"features":["Towing Package","Off-Road Package","Sync 3 Infotainment"],"owners":1,"image":"https://fakeimg.pl/500x500/0000ff"},{"id":14,"make":"BMW","model":"X5","year":2021,"color":"Black","mileage":14000,"price":55000,"fuelType":"Diesel","transmission":"Automatic","engine":"3.0L 6-cylinder","horsepower":335,"features":["Heated Seats","Wireless Charging","Gesture Control"],"owners":1,"image":"https://fakeimg.pl/500x500/000000"},{"id":15,"make":"Honda","model":"CR-V","year":2019,"color":"Silver","mileage":25000,"price":26000,"fuelType":"Gasoline","transmission":"CVT","engine":"1.5L 4-cylinder","horsepower":190,"features":["Adaptive Cruise Control","Lane Keeping Assist","Apple CarPlay"],"owners":2,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":16,"make":"Toyota","model":"RAV4","year":2020,"color":"White","mileage":18000,"price":29000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.5L 4-cylinder","horsepower":203,"features":["Blind-Spot Monitoring","Rear Cross-Traffic Alert","Apple CarPlay"],"owners":1,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":17,"make":"Tesla","model":"Model Y","year":2022,"color":"Red","mileage":8000,"price":52000,"fuelType":"Electric","transmission":"Automatic","engine":"Dual Electric Motors","horsepower":384,"features":["Autopilot","Premium Interior","Panoramic Roof"],"owners":1,"image":"https://fakeimg.pl/500x500/ff0000"},{"id":18,"make":"Chevrolet","model":"Silverado","year":2019,"color":"Black","mileage":25000,"price":35000,"fuelType":"Gasoline","transmission":"Automatic","engine":"5.3L V8","horsepower":355,"features":["Towing Package","Trailer Brake Controller","Apple CarPlay"],"owners":2,"image":"https://fakeimg.pl/500x500/000000"},{"id":19,"make":"Ford","model":"Escape","year":2021,"color":"Gray","mileage":12000,"price":28000,"fuelType":"Gasoline","transmission":"Automatic","engine":"1.5L 4-cylinder","horsepower":181,"features":["Apple CarPlay","Android Auto","Blind-Spot Monitoring"],"owners":1,"image":"https://fakeimg.pl/500x500/808080"},{"id":20,"make":"Mercedes-Benz","model":"GLE 350","year":2020,"color":"Silver","mileage":18000,"price":46000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":255,"features":["MBUX Infotainment","Panoramic Sunroof","Adaptive Cruise Control"],"owners":2,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":21,"make":"BMW","model":"4 Series","year":2021,"color":"Blue","mileage":10000,"price":48000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":255,"features":["Head-Up Display","Wireless Charging","Parking Assistance"],"owners":1,"image":"https://fakeimg.pl/500x500/0000ff"},{"id":22,"make":"Honda","model":"Accord","year":2022,"color":"Black","mileage":8000,"price":31000,"fuelType":"Gasoline","transmission":"CVT","engine":"1.5L 4-cylinder","horsepower":192,"features":["Honda Sensing Suite","Remote Engine Start","Wireless Phone Charger"],"owners":1,"image":"https://fakeimg.pl/500x500/000000"},{"id":23,"make":"Jeep","model":"Grand Cherokee","year":2021,"color":"White","mileage":10000,"price":38000,"fuelType":"Gasoline","transmission":"Automatic","engine":"3.6L V6","horsepower":295,"features":["4WD","Uconnect Infotainment","Heated Seats"],"owners":1,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":24,"make":"Toyota","model":"Highlander","year":2020,"color":"Silver","mileage":20000,"price":36000,"fuelType":"Gasoline","transmission":"Automatic","engine":"3.5L V6","horsepower":295,"features":["Lane Departure Alert","Third-Row Seating","Smart Key System"],"owners":2,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":25,"make":"Ford","model":"Explorer","year":2022,"color":"Blue","mileage":6000,"price":42000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.3L 4-cylinder","horsepower":300,"features":["SYNC 4 Infotainment","Tri-Zone Climate Control","Power Liftgate"],"owners":1,"image":"https://fakeimg.pl/500x500/0000ff"},{"id":26,"make":"Chevrolet","model":"Camaro","year":2021,"color":"Red","mileage":8000,"price":40000,"fuelType":"Gasoline","transmission":"Automatic","engine":"6.2L V8","horsepower":455,"features":["RS Package","Wireless Apple CarPlay","Bose Premium Audio"],"owners":1,"image":"https://fakeimg.pl/500x500/ff0000"},{"id":27,"make":"Audi","model":"A4","year":2020,"color":"White","mileage":15000,"price":36000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":201,"features":["Virtual Cockpit","Panoramic Sunroof","Audi Pre Sense City"],"owners":2,"image":"https://fakeimg.pl/500x500/ffffff"},{"id":28,"make":"Subaru","model":"Forester","year":2022,"color":"Green","mileage":5000,"price":32000,"fuelType":"Gasoline","transmission":"CVT","engine":"2.5L 4-cylinder","horsepower":182,"features":["Subaru EyeSight","X-Mode Terrain Selection","Starlink Infotainment"],"owners":1,"image":"https://fakeimg.pl/500x500/008000"},{"id":29,"make":"Ford","model":"Fusion","year":2022,"color":"Silver","mileage":8000,"price":30000,"fuelType":"Gasoline","transmission":"Automatic","engine":"2.0L 4-cylinder","horsepower":245,"features":["Ford Co-Pilot360","Adaptive Cruise Control","Wireless Charging"],"owners":1,"image":"https://fakeimg.pl/500x500/cccccc"},{"id":30,"make":"Kia","model":"Telluride","year":2021,"color":"White","mileage":10000,"price":38000,"fuelType":"Gasoline","transmission":"Automatic","engine":"3.8L V6","horsepower":291,"features":["Kia Drive Wise","UVO Link Infotainment","Apple CarPlay"],"owners":1,"image":"https://fakeimg.pl/500x500/ffffff"}]'

In [33]:
data_json = pd.DataFrame(response_data.json())

In [34]:
data_json.to_sql('cars',connection)

ValueError: Table 'cars' already exists.

In [30]:
data_json.to_json('data.json')

In [31]:
data_json = pd.read_json('data.json')

In [32]:
data_json.to_sql('cars', connection)

ProgrammingError: Error binding parameter 13: type 'list' is not supported

In [36]:
#'list' data type is indeed not supported in SQL.
# so go ahaed and delete list entires in the json data frame.
# and try again
data_json = pd.read_json('data_without_list.json')
data_json.to_sql('cars', connection, if_exists='replace')

30

In [37]:
data_json

,id,make,model,year,color,mileage,price,fuelType,transmission,engine,horsepower,owners,image
0,1,Toyota,Corolla,2022,Silver,20000,25000,Gasoline,Automatic,2.0L 4-cylinder,169,1,https://fakeimg.pl/500x500/cccccc
1,2,Honda,Civic,2021,White,18000,22000,Gasoline,CVT,1.5L 4-cylinder,158,2,https://fakeimg.pl/500x500/ffffff
2,3,Ford,Mustang,2020,Red,15000,35000,Gasoline,Manual,5.0L V8,450,1,https://fakeimg.pl/500x500/ff0000
3,4,Chevrolet,Equinox,2019,Blue,30000,20000,Gasoline,Automatic,1.5L 4-cylinder,170,2,https://fakeimg.pl/500x500/0000ff
4,5,Nissan,Altima,2020,Black,22000,21000,Gasoline,CVT,2.5L 4-cylinder,188,1,https://fakeimg.pl/500x500/000000
5,6,BMW,3 Series,2021,White,12000,40000,Diesel,Automatic,2.0L 4-cylinder,255,1,https://fakeimg.pl/500x500/ffffff
6,7,Tesla,Model 3,2022,Red,8000,45000,Electric,Automatic,Electric Motor,322,1,https://fakeimg.pl/500x500/ff0000
7,8,Audi,Q5,2021,Gray,15000,38000,Gasoline,Automatic,2.0L 4-cylinder,248,1,https://fakeimg.pl/500x500/808080
8,9,Mercedes-Benz,E-Class,2020,Silver,18000,42000,Gasoline,Automatic,2.0L 4-cylinder,255,2,https://fakeimg.pl/500x500/cccccc
9,10,Chevrolet,Tahoe,2020,Black,25000,45000,Gasoline,Automatic,5.3L V8,355,2,https://fakeimg.pl/500x500/000000
10,11,Subaru,Outback,2021,Green,12000,32000,Gasoline,CVT,2.5L 4-cylinder,182,1,https://fakeimg.pl/500x500/008000
11,12,Lexus,RX 350,2022,White,8000,48000,Gasoline,Automatic,3.5L V6,295,1,https://fakeimg.pl/500x500/ffffff
12,13,Ford,F-150,2020,Blue,18000,38000,Gasoline,Automatic,3.5L V6,375,1,https://fakeimg.pl/500x500/0000ff
13,14,BMW,X5,2021,Black,14000,55000,Diesel,Automatic,3.0L 6-cylinder,335,1,https://fakeimg.pl/500x500/000000
14,15,Honda,CR-V,2019,Silver,25000,26000,Gasoline,CVT,1.5L 4-cylinder,190,2,https://fakeimg.pl/500x500/cccccc
15,16,Toyota,RAV4,2020,White,18000,29000,Gasoline,Automatic,2.5L 4-cylinder,203,1,https://fakeimg.pl/500x500/ffffff
16,17,Tesla,Model Y,2022,Red,8000,52000,Electric,Automatic,Dual Electric Motors,384,1,https://fakeimg.pl/500x500/ff0000
17,18,Chevrolet,Silverado,2019,Black,25000,35000,Gasoline,Automatic,5.3L V8,355,2,https://fakeimg.pl/500x500/000000
18,19,Ford,Escape,2021,Gray,12000,28000,Gasoline,Automatic,1.5L 4-cylinder,181,1,https://fakeimg.pl/500x500/808080
19,20,Mercedes-Benz,GLE 350,2020,Silver,18000,46000,Gasoline,Automatic,2.0L 4-cylinder,255,2,https://fakeimg.pl/500x500/cccccc
20,21,BMW,4 Series,2021,Blue,10000,48000,Gasoline,Automatic,2.0L 4-cylinder,255,1,https://fakeimg.pl/500x500/0000ff
21,22,Honda,Accord,2022,Black,8000,31000,Gasoline,CVT,1.5L 4-cylinder,192,1,https://fakeimg.pl/500x500/000000
22,23,Jeep,Grand Cherokee,2021,White,10000,38000,Gasoline,Automatic,3.6L V6,295,1,https://fakeimg.pl/500x500/ffffff
23,24,Toyota,Highlander,2020,Silver,20000,36000,Gasoline,Automatic,3.5L V6,295,2,https://fakeimg.pl/500x500/cccccc
24,25,Ford,Explorer,2022,Blue,6000,42000,Gasoline,Automatic,2.3L 4-cylinder,300,1,https://fakeimg.pl/500x500/0000ff
25,26,Chevrolet,Camaro,2021,Red,8000,40000,Gasoline,Automatic,6.2L V8,455,1,https://fakeimg.pl/500x500/ff0000
26,27,Audi,A4,2020,White,15000,36000,Gasoline,Automatic,2.0L 4-cylinder,201,2,https://fakeimg.pl/500x500/ffffff
27,28,Subaru,Forester,2022,Green,5000,32000,Gasoline,CVT,2.5L 4-cylinder,182,1,https://fakeimg.pl/500x500/008000
28,29,Ford,Fusion,2022,Silver,8000,30000,Gasoline,Automatic,2.0L 4-cylinder,245,1,https://fakeimg.pl/500x500/cccccc
29,30,Kia,Telluride,2021,White,10000,38000,Gasoline,Automatic,3.8L V6,291,1,https://fakeimg.pl/500x500/ffffff

In [39]:
data_json.make

0            Toyota
1             Honda
2              Ford
3         Chevrolet
4            Nissan
5               BMW
6             Tesla
7              Audi
8     Mercedes-Benz
9         Chevrolet
10           Subaru
11            Lexus
12             Ford
13              BMW
14            Honda
15           Toyota
16            Tesla
17        Chevrolet
18             Ford
19    Mercedes-Benz
20              BMW
21            Honda
22             Jeep
23           Toyota
24             Ford
25        Chevrolet
26             Audi
27           Subaru
28             Ford
29              Kia
Name: make, dtype: object

In [40]:
data_json['model']

0            Corolla
1              Civic
2            Mustang
3            Equinox
4             Altima
5           3 Series
6            Model 3
7                 Q5
8            E-Class
9              Tahoe
10           Outback
11            RX 350
12             F-150
13                X5
14              CR-V
15              RAV4
16           Model Y
17         Silverado
18            Escape
19           GLE 350
20          4 Series
21            Accord
22    Grand Cherokee
23        Highlander
24          Explorer
25            Camaro
26                A4
27          Forester
28            Fusion
29         Telluride
Name: model, dtype: object

In [43]:
data_json['mileage'].dtypes

dtype('int64')

In [46]:
data_json['mileage'].sort_values(ascending=True)

27     5000
24     6000
11     8000
16     8000
28     8000
6      8000
21     8000
25     8000
20    10000
29    10000
22    10000
10    12000
5     12000
18    12000
13    14000
7     15000
26    15000
2     15000
12    18000
15    18000
19    18000
1     18000
8     18000
0     20000
23    20000
4     22000
17    25000
9     25000
14    25000
3     30000
Name: mileage, dtype: int64